.edit-btn {
  text-decoration: none;
  padding: 2px 8px;
  background-color: #3d63d2;
  color: #fff;
  border-radius: 5px;
}
.edit-btn:hover {
  text-decoration: none;
  color: #fff;
}
.delete-btn {
  text-decoration: none;
  padding: 2px 8px;
  background-color: #fd3344;
  color: #fff;
  border-radius: 5px;
}
.delete-btn:hover {
  text-decoration: none;
  color: #fff;
}
.inp-textarea {
  resize: none !important;
}
td img {
  width: 40px;
  height: 40px;
}
td a .show-btn {
  background-color: green !important;
  color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
}
.logout-btn {
  margin-left: 10px !important;
}
.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.profile-name {
  font-weight: 800;
}
.profile-email {
  font-weight: 700;
}
.edit-profile-img img {
  border-radius: 50%;
  width: 200px !important;
  height: 200px !important;
}
